


            <!-- ======================================= content ======================================= -->
            
            <!-- slider -->
            <div id="superSizedSlider">
                <div class="bgMask">
                    <!--Arrow Navigation-->
                    <a id="prevslide" class="load-item"></a>
                    <a id="nextslide" class="load-item"></a>
                    <div class="container vertical-align">
                        <div class="row">
                            <div class="col-md-12">
                                <div id="slidecaption"> </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- / slider -->
            <main id="content">
                <!-- services -->
                <section id="services">
                    <div class="container pb30 pt15">
                        <div class="row">
                            <div class="col-md-3 col-sm-6">
                                <article class="boxIcon" data-nekoanim="fadeInUp" data-nekodelay="100">
                                    <a href="#">
                                        <i class="icon-heart iconBig iconRounded"></i>
                                        <h2>Clean design</h2>
                                        <p>Elegant layouts that help you organize your content in the best way</p>
                                    </a>
                                </article>
                            </div>
                            <div class="col-md-3 col-sm-6">
                                <article class="boxIcon" data-nekoanim="fadeInUp" data-nekodelay="200">
                                    <a href="#">
                                        <i class="icon-thumbs-up iconBig iconRounded"></i>
                                        <h2>HTML5 &amp; CSS3</h2>
                                        <p>Built with modern technologies like HTML5 and CSS3, SEO optimised</p>
                                    </a>
                                </article>
                            </div>
                            <div class="col-md-3 col-sm-6">
                                <article class="boxIcon" data-nekoanim="fadeInUp" data-nekodelay="300">
                                    <a href="#">
                                        <i class="icon-bookmark iconBig iconRounded"></i>
                                        <h2>Responsive design</h2>
                                        <p>Compatible with various desktop, tablet, and mobile devices.</p>
                                    </a>
                                </article>
                            </div>
                            <div class="col-md-3 col-sm-6">
                                <article class="boxIcon" data-nekoanim="fadeInUp" data-nekodelay="400">
                                    <a href="#">
                                        <i class="icon-edit iconBig iconRounded"></i>
                                        <h2>Easy Customization</h2>
                                        <p>Clear code and documentation, build with Bootstrap 3</p>
                                    </a>
                                </article>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 mb30">
                                <hr class="lineLines"> </div>
                            </div>
                        </div>
                    </section>
                    <!-- / services -->
                    <section id="works" class="color0">
                        <div class="col-md-12 text-center pb30">
                            <h1>Our Work</h1>
                            <h2 class="subTitle">Latest cool projects we've been working on</h2>
                        </div>
                        <div class="pt30 pb30">
                            <div class="container clearfix">
                                <div class="row">
                                    <nav id="filter" class="col-md-12 text-center">
                                        <ul>
                                            <li><a href="" class="current btn btn-sm" data-filter="*">All</a></li>
                                            <li><a href="" class="btn btn-sm" data-filter=".graphics">Graphics</a></li>
                                            <li><a href="" class="btn btn-sm" data-filter=".women">Women</a></li>
                                            <li><a href="" class="btn btn-sm" data-filter=".cats">Cats</a></li>
                                        </ul>
                                    </nav>
                                </div>
                                <div class="row">
                                    <div class="portfolio-items isotopeWrapper clearfix imgHover neko-hover-1" id="3">
                                        <!-- portfolio item -->
                                        <article class="col-sm-4 isotopeItem graphics">
                                            <figure> <img alt="" src="images/portfolio/vign6.jpg" class="img-responsive">
                                                <figcaption>
                                                    <ul class="pinInfo pull-right">
                                                        <li><a href=""><i class="icon-eye"></i>150</a></li>
                                                        <li><a href=""><i class="icon-comment-1"></i>4</a></li>
                                                        <li><a href=""><i class="icon-heart"></i>32</a></li>
                                                    </ul>
                                                    <div class="iconLinks"> <a href="portfolio-project-fullwidth-image.html" title="link"><i class="icon-picture"></i></a> <a href="images/portfolio/zoom6.jpg" class="image-link" title="Zoom"><i class="icon-search"></i></a> </div>
                                                </figcaption>
                                            </figure>
                                            <section class="boxContent">
                                                <h3>Full width image</h3>
                                                <p>
                                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi vulputate nunc ut tellus sollicitudin placerat.
                                                    <br /> <a href="portfolio-project-fullwidth-image.html" class="moreLink">&rarr; read more</a>
                                                </p>
                                            </section>
                                        </article>
                                        <!-- portfolio item -->
                                        <!-- /  portfolio item -->
                                        <article class="col-sm-4 isotopeItem graphics">
                                            <figure> <img alt="" src="images/portfolio/vign1.jpg" class="img-responsive">
                                                <figcaption>
                                                    <ul class="pinInfo pull-right">
                                                        <li><a href=""><i class="icon-eye"></i>150</a></li>
                                                        <li><a href=""><i class="icon-comment-1"></i>4</a></li>
                                                        <li><a href=""><i class="icon-heart"></i>32</a></li>
                                                    </ul>
                                                    <div class="iconLinks"> <a href="portfolio-project-fullwidth-image.html" title="link"><i class="icon-videocam"></i></a> <a href="https://www.youtube.com/watch?v=H4CtL4_By6I" class="image-iframe" title="Zoom"><i class="icon-search"></i></a> </div>
                                                </figcaption>
                                            </figure>
                                            <section class="boxContent">
                                                <h3>Video YouTube</h3>
                                                <p>
                                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi vulputate nunc ut tellus sollicitudin placerat.
                                                    <br> <a href="portfolio-project-fullwidth-video.html" class="moreLink">&rarr; read more</a>
                                                </p>
                                            </section>
                                        </article>
                                        <!-- portfolio item -->
                                        <!-- /  portfolio item -->
                                        <article class="col-sm-4 isotopeItem cats">
                                            <figure> <img alt="" src="images/portfolio/vign7.jpg" class="img-responsive">
                                                <figcaption>
                                                    <ul class="pinInfo pull-right">
                                                        <li><a href=""><i class="icon-eye"></i>150</a></li>
                                                        <li><a href=""><i class="icon-comment-1"></i>4</a></li>
                                                        <li><a href=""><i class="icon-heart"></i>32</a></li>
                                                    </ul>
                                                    <div class="iconLinks"> <a href="portfolio-project-fullwidth-image.html" title="link"><i class="icon-videocam"></i></a> <a href="//player.vimeo.com/video/122258599" class="image-iframe" title="Zoom"><i class="icon-search"></i></a> </div>
                                                </figcaption>
                                            </figure>
                                            <section class="boxContent">
                                                <h3>Video Vimeo</h3>
                                                <p>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi vulputate nunc ut tellus sollicitudin placerat.
                                                    <br> <a href="portfolio-project-fullwidth-video.html" class="moreLink">&rarr; read more</a>
                                                </p>
                                            </section>
                                        </article>
                                        <!-- portfolio item -->
                                        <!-- /  portfolio item -->
                                        <article class="col-sm-4 isotopeItem graphics">
                                            <figure> <img alt="" src="images/portfolio/vign3.jpg" class="img-responsive">
                                                <figcaption>
                                                    <ul class="pinInfo pull-right">
                                                        <li><a href=""><i class="icon-eye"></i>150</a></li>
                                                        <li><a href=""><i class="icon-comment-1"></i>4</a></li>
                                                        <li><a href=""><i class="icon-heart"></i>32</a></li>
                                                    </ul>
                                                    <div class="iconLinks"> <a href="portfolio-project-fullwidth-image.html" title="link"><i class="icon-camera"></i></a> <a href="images/portfolio/zoom3.jpg" data-gallery="images/portfolio/zoom1.jpg,images/portfolio/zoom2.jpg" class="image-link" title="Zoom"><i class="icon-search"></i></a> </div>
                                                </figcaption>
                                            </figure>
                                            <section class="boxContent">
                                                <h3>Gallery</h3>
                                                <p>
                                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi vulputate nunc ut tellus sollicitudin placerat.
                                                    <br> <a href="portfolio-project-fullwidth-carousel.html" class="moreLink">&rarr; read more</a>
                                                </p>
                                            </section>
                                        </article>
                                        <!-- portfolio item -->
                                        <!-- /  portfolio item -->
                                        <article class="col-sm-4 isotopeItem cats">
                                            <figure> <img alt="" src="images/portfolio/vign2.jpg" class="img-responsive">
                                                <figcaption>
                                                    <ul class="pinInfo pull-right">
                                                        <li><a href=""><i class="icon-eye"></i>150</a></li>
                                                        <li><a href=""><i class="icon-comment-1"></i>4</a></li>
                                                        <li><a href=""><i class="icon-heart"></i>32</a></li>
                                                    </ul>
                                                    <div class="iconLinks"> <a href="portfolio-project-fullwidth-image.html" title="link"><i class="icon-picture "></i></a> <a href="images/portfolio/zoom2.jpg" class="image-link" title="Zoom"><i class="icon-search"></i></a> </div>
                                                </figcaption>
                                            </figure>
                                            <section class="boxContent">
                                                <h3>Lorem ipsum dolor sit amet</h3>
                                                <p>
                                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi vulputate nunc ut tellus sollicitudin placerat.
                                                    <br> <a href="#" class="moreLink">&rarr; read more</a>
                                                </p>
                                            </section>
                                        </article>
                                        <!-- portfolio item -->
                                        <!-- /  portfolio item -->
                                        <article class="col-sm-4 isotopeItem graphics">
                                            <figure> <img alt="" src="images/portfolio/vign4.jpg" class="img-responsive">
                                                <figcaption>
                                                    <ul class="pinInfo pull-right">
                                                        <li><a href=""><i class="icon-eye"></i>150</a></li>
                                                        <li><a href=""><i class="icon-comment-1"></i>4</a></li>
                                                        <li><a href=""><i class="icon-heart"></i>32</a></li>
                                                    </ul>
                                                    <div class="iconLinks"> <a href="portfolio-project-fullwidth-image.html" title="link"><i class="icon-picture "></i></a> <a href="images/portfolio/zoom4.jpg" class="image-link" title="Zoom"><i class="icon-search"></i></a> </div>
                                                </figcaption>
                                            </figure>
                                            <section class="boxContent">
                                                <h3>Lorem ipsum dolor sit amet</h3>
                                                <p>
                                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi vulputate nunc ut tellus sollicitudin placerat.
                                                    <br> <a href="#" class="moreLink">&rarr; read more</a>
                                                </p>
                                            </section>
                                        </article>
                                        <!-- portfolio item -->
                                        <!-- /  portfolio item -->
                                        <article class="col-sm-4 isotopeItem women">
                                            <figure> <img alt="" src="images/portfolio/vign8.jpg" class="img-responsive">
                                                <figcaption>
                                                    <ul class="pinInfo pull-right">
                                                        <li><a href=""><i class="icon-eye"></i>150</a></li>
                                                        <li><a href=""><i class="icon-comment-1"></i>4</a></li>
                                                        <li><a href=""><i class="icon-heart"></i>32</a></li>
                                                    </ul>
                                                    <div class="iconLinks"> <a href="portfolio-project-fullwidth-image.html" title="link"><i class="icon-picture "></i></a> <a href="images/portfolio/zoom8.jpg" class="image-link" title="Zoom"><i class="icon-search"></i></a> </div>
                                                </figcaption>
                                            </figure>
                                            <section class="boxContent">
                                                <h3>Lorem ipsum dolor sit amet</h3>
                                                <p>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi vulputate nunc ut tellus sollicitudin placerat.
                                                    <br /> <a href="#" class="moreLink">&rarr; read more</a>
                                                </p>
                                            </section>
                                        </article>
                                        <!-- portfolio item -->
                                        <!-- /  portfolio item -->
                                        <article class="col-sm-4 isotopeItem women">
                                            <figure> <img alt="" src="images/portfolio/vign5.jpg" class="img-responsive">
                                                <figcaption>
                                                    <ul class="pinInfo pull-right">
                                                        <li><a href=""><i class="icon-eye"></i>150</a></li>
                                                        <li><a href=""><i class="icon-comment-1"></i>4</a></li>
                                                        <li><a href=""><i class="icon-heart"></i>32</a></li>
                                                    </ul>
                                                    <div class="iconLinks"> <a href="portfolio-project-fullwidth-image.html" title="link"><i class="icon-picture "></i></a> <a href="images/portfolio/zoom5.jpg" class="image-link" title="Zoom"><i class="icon-search"></i></a> </div>
                                                </figcaption>
                                            </figure>
                                            <section class="boxContent">
                                                <h3>Lorem ipsum dolor sit amet</h3>
                                                <p>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi vulputate nunc ut tellus sollicitudin placerat.
                                                    <br /> <a href="#" class="moreLink">&rarr; read more</a>
                                                </p>
                                            </section>
                                        </article>
                                        <!-- portfolio item -->
                                        <!-- /  portfolio item -->
                                        <article class="col-sm-4 isotopeItem graphics">
                                            <figure> <img alt="" src="images/portfolio/vign9.jpg" class="img-responsive">
                                                <figcaption>
                                                    <ul class="pinInfo pull-right">
                                                        <li><a href=""><i class="icon-eye"></i>150</a></li>
                                                        <li><a href=""><i class="icon-comment-1"></i>4</a></li>
                                                        <li><a href=""><i class="icon-heart"></i>32</a></li>
                                                    </ul>
                                                    <div class="iconLinks"> <a href="portfolio-project-fullwidth-image.html" title="link"><i class="icon-picture "></i></a> <a href="images/portfolio/zoom9.jpg" class="image-link" title="Zoom"><i class="icon-search"></i></a> </div>
                                                </figcaption>
                                            </figure>
                                            <section class="boxContent">
                                                <h3>Lorem ipsum dolor sit amet</h3>
                                                <p>
                                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi vulputate nunc ut tellus sollicitudin placerat.
                                                    <br> <a href="#" class="moreLink">&rarr; read more</a>
                                                </p>
                                            </section>
                                        </article>
                                        <!-- /  portfolio item -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <!-- / works -->
                    <!-- parallax -->
                    <section class="parallaxSection image-1" data-stellar-background-ratio="0.5">
                        <div class="maskParent">
                            <div class="bgMask"></div>
                            <div class="paralaxText">
                                <h2>
                                    <i class="icon-star iconMedium"></i>
                                    <br/> The clearest way into the Universe is through a forest wilderness.
                                    <br/><small>John Muir</small>
                                </h2>
                            </div>
                        </div>
                    </section>
                    <!-- / parallax -->
                    <!-- team -->
                    <section id="team" class="color0">
                        <div class="col-md-12 text-center pt40 pb40">
                            <h1>Meet our team</h1>
                            <h2 class="subTitle">We are beautiful and smart</h2>
                        </div>
                        <section class="pt30 pb30">
                            <div class="container">
                                <div class="row">
                                    <div class="col-sm-3" data-nekoanim="fadeIn" data-nekodelay="0">
                                        <article> <img src="images/team/team-corporate-1.jpg" alt="" class="img-responsive imgBorder">
                                            <div class="color2 pt15 pb15 mt15 text-center">
                                                <h3>John DOE</h3>
                                                <p>Executive Director</p>
                                            </div>
                                            <div class="boxContent"> <a href="mailto:your.email@little-neko.com">j.doe@ALABAMA.com</a>
                                                <ul class="socialNetwork mt15">
                                                    <li><a href="#" class="tips" title="follow me on Facebook"><i class="icon-facebook-1 iconRounded"></i></a></li>
                                                    <li><a href="#" class="tips" title="" data-original-title="follow me on Twitter"><i class="icon-twitter-bird iconRounded"></i></a></li>
                                                    <li><a href="#" class="tips" title="follow me on Google+"><i class="icon-gplus-1 iconRounded"></i></a></li>
                                                    <li><a href="#" class="tips" title="follow me on Linkedin"><i class="icon-linkedin-1 iconRounded"></i></a></li>
                                                </ul>
                                            </div>
                                        </article>
                                    </div>
                                    <div class="col-sm-3" data-nekoanim="fadeIn" data-nekodelay="100">
                                        <article> <img src="images/team/team-corporate-2.jpg" alt="" class="img-responsive imgBorder">
                                            <div class="color2 pt15 pb15 mt15 text-center">
                                                <h3>Johanna Newsom</h3>
                                                <p>Salesman</p>
                                            </div>
                                            <div class="boxContent"> <a href="mailto:your.email@little-neko.com">j.newsom@ALABAMA.com</a>
                                                <ul class="socialNetwork mt15">
                                                    <li><a href="#" class="tips" title="follow me on Facebook"><i class="icon-facebook-1 iconRounded"></i></a></li>
                                                    <li><a href="#" class="tips" title="follow me on Twitter"><i class="icon-twitter-bird iconRounded"></i></a></li>
                                                    <li><a href="#" class="tips" title="follow me on Google+"><i class="icon-gplus-1 iconRounded"></i></a></li>
                                                    <li><a href="#" class="tips" title="follow me on Linkedin"><i class="icon-linkedin-1 iconRounded"></i></a></li>
                                                </ul>
                                            </div>
                                        </article>
                                    </div>
                                    <div class="col-sm-3" data-nekoanim="fadeIn" data-nekodelay="200">
                                        <article> <img src="images/team/team-corporate-3.jpg" alt="" class="img-responsive imgBorder">
                                            <div class="color2 pt15 pb15 mt15 text-center">
                                                <h3>Alexander Doe</h3>
                                                <p>Graphic designer</p>
                                            </div>
                                            <div class="boxContent"> <a href="mailto:your.email@little-neko.com">a.doe@ALABAMA.com</a>
                                                <ul class="socialNetwork mt15">
                                                    <li><a href="#" class="tips" title="follow me on Facebook"><i class="icon-facebook-1 iconRounded"></i></a></li>
                                                    <li><a href="#" class="tips" title="follow me on Twitter"><i class="icon-twitter-bird iconRounded"></i></a></li>
                                                    <li><a href="#" class="tips" title="follow me on Google+"><i class="icon-gplus-1 iconRounded"></i></a></li>
                                                    <li><a href="#" class="tips" title="follow me on Linkedin"><i class="icon-linkedin-1 iconRounded"></i></a></li>
                                                </ul>
                                            </div>
                                        </article>
                                    </div>
                                    <div class="col-sm-3" data-nekoanim="fadeIn" data-nekodelay="300">
                                        <article> <img src="images/team/team-corporate-4.jpg" alt="" class="img-responsive imgBorder">
                                            <div class="color2 pt15 pb15 mt15 text-center">
                                                <h3>Pamela Anderson</h3>
                                                <p>Programmer</p>
                                            </div>
                                            <div class="boxContent"> <a href="mailto:your.email@little-neko.com">p.anderson66@ALABAMA.com</a>
                                                <ul class="socialNetwork mt15">
                                                    <li> <a href="#" class="tips" title="follow me on Facebook"><i class="icon-facebook-1 iconRounded"></i></a> </li>
                                                    <li> <a href="#" class="tips" title="follow me on Twitter"><i class="icon-twitter-bird iconRounded"></i></a> </li>
                                                    <li> <a href="#" class="tips" title="follow me on Google+"><i class="icon-gplus-1 iconRounded"></i></a> </li>
                                                    <li> <a href="#" class="tips" title="follow me on Linkedin"><i class="icon-linkedin-1 iconRounded"></i> </a> </li>
                                                </ul>
                                            </div>
                                        </article>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </section>
                    <!-- / team -->
                    <!-- parallax testimonial -->
                    <section class="parallaxSection image-2" data-stellar-background-ratio="0.5">
                        <div class="maskParent">
                            <div class="bgMask"></div>
                            <div class="paralaxText container">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="owl-carousel nekoDataOwl  testimonialCarousel" data-neko_items="1" data-neko_singleitem="true" data-neko_paginationnumbers="true">
                                            <div class="item"> <img src="images/clients/client1.jpg" class="img-circle mb15" alt="client">
                                                <blockquote class="text-center">
                                                    When you are courting a nice girl an hour seems like a second.
                                                    <br /> When you sit on a red-hot cinder a second seems like an hour. That's relativity.
                                                    <br/><small>Albert Einstein </small>
                                                </blockquote>
                                            </div>
                                            <div class="item"> <img src="images/clients/client2.jpg" class="img-circle mb15" alt="client">
                                                <blockquote class="text-center">
                                                    We shall defend our island, whatever the cost may be, we shall fight on the beaches, we shall fight on the landing grounds, we shall fight in the fields and in the streets, we shall fight in the hills; we shall never surrender.
                                                    <br/><small>Winston Churchill</small>
                                                </blockquote>
                                            </div>
                                            <div class="item"> <img src="images/clients/client3.jpg" class="img-circle mb15" alt="client">
                                                <blockquote class="text-center">
                                                    Your time is limited, so don't waste it living someone else's life. Don't be trapped by dogma - which is living with the results of other people's thinking. Don't let the noise of others' opinions drown out your own inner voice. And most important, have the courage to follow your heart and intuition.
                                                    <br/><small>Steve Jobs</small>
                                                </blockquote>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <!-- parallax testimonial -->
                    <!-- contact -->
                    <section id="contact" class="color0">
                        <div class="col-md-12 text-center pt40 pb40" data-nekoanim="fadeIn" data-nekodelay="200">
                            <h1>Keep in touch</h1>
                            <h2 class="subTitle">Latest cool projects we've been working on</h2>
                        </div>
                        <div class="container" data-nekoanim="fadeIn" data-nekodelay="400">
                            <div class="row">
                                <div class="col-sm-4">
                                    <h4>Address:</h4>
                                    <address>
                                        <p>
                                            <i class="icon-location"></i>&nbsp;166 Highway 22 North<br>
                                            Dodge City, Alabama - USA<br>
                                            <i class="icon-phone"></i>&nbsp;446.125.5892<br>
                                            <i class="icon-mail-alt"></i>&nbsp;<a href="mailto:little@theme.com">little@theme.com</a>
                                        </p>
                                    </address>
                                </div>
                                <form method="post" action="js-plugin/neko-contact-ajax-plugin/php/form-handler.php" id="contactfrm" role="form">
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label for="name">Name</label>
                                            <input type="text" class="form-control" name="name" id="name" placeholder="Enter name" title="Please enter your name (at least 2 characters)" />
                                        </div>
                                        <div class="form-group">
                                            <label for="email">Email</label>
                                            <input type="email" class="form-control" name="email" id="email" placeholder="Enter email" title="Please enter a valid email address" />
                                        </div>
                                        <div class="form-group">
                                            <label for="phone">Phone</label>
                                            <input name="phone" class="form-control required digits" type="tel" id="phone" size="30" value="" placeholder="Enter email phone" title="Please enter a valid phone number (at least 10 characters)">
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label for="comments">Comments</label>
                                            <textarea name="comment" class="form-control" id="comments" cols="3" rows="5" placeholder="Enter your message…" title="Please enter your message (at least 10 characters)"></textarea>
                                        </div>
                                        <fieldset class="clearfix securityCheck">
                                            <h3>Security</h3>
                                            <div class="form-group"> <img src="js-plugin/neko-contact-ajax-plugin/php/image.php" alt="Image verification" />
                                                <input class="required form-control" id="verify" name="verify" type="text">
                                            </div>
                                        </fieldset>
                                    </div>
                                    <div class="col-md-8 col-md-offset-4">
                                        <div class="result"></div>
                                        <button name="submit" type="submit" class="btn btn-lg" id="submit"> Submit</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div id="mapWrapper" class="mt30"></div>
                    </section>
                </main>
                <!-- end content -->


